#name {
  font-size: 36px;
}

#web {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 45px;
}

img {
  border-radius: 50%;
  width: auto;
  height: auto;
  min-width: 200px;
}

.img-fluid {
  max-width: 450px;
  width: 100%;
}

#writing {
  display: flex;
  vertical-align: middle;
  font-size: 18px;
}

.center {
  align-items: center;
  justify-content: center;
}

#space {
  height: 50px;
}

@media (max-width: 1070px) {
    #writing {
      flex-direction: column;
      align-items: center;
    }
  
    #paragraphs {
      margin-top: 20px; 
    }
  }
  