#name {
  font-size: 36px;
}

#web {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 45px;
}

img {
  
  width: auto;
  height: auto;
  min-width: 200px;
}

.img-fluid {
  max-width: 450px;
  width: 100%;
}

#image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.image-stack__item-top {
  grid-column: 10 / 3;
  grid-row: 1;
  padding-top: 10%;
  z-index: 1;
}

.image-stack__item-bottom {
  grid-column: 3 / span 6; 
  grid-row: 1;
  margin-top: -50%;
  margin-left: -50%;
  opacity: 0.5;
}


#writing {
  display: flex;
  vertical-align: middle;
  font-size: 18px;
}

.center {
  align-items: center;
  justify-content: center;
}

#space {
  height: 50px;
}

@media (max-width: 1070px) {
    #writing {
      flex-direction: column;
      align-items: center;
    }
  
    #paragraphs {
      margin-top: 20px; 
    }
  }
  