#name {
  font-size: 36px;
}

#web {
  font-style: italic;
  font-size: 24px;
  margin-bottom: 30px;
}

img {
  width: auto;
  height: auto;
  min-width: 300px;
}

.img-fluid {
  min-width: 400px; 
  max-width: 100%; 
  width: 100%; 
  height: auto; 
}

#image-stack {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  margin-bottom: 40px;
}

#writing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding-top: 30px;
}

#paragraphs {
  margin-top: 20px;
  flex: 1;
}

.center {
  align-items: center;
  justify-content: center;
}

#space {
  height: 50px;
}

@media (max-width: 1070px) {
  #writing {
    flex-direction: column;
    align-items: center;
  }

  #paragraphs {
    margin-top: 20px;
  }

  #image-stack {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
  }

  .img-fluid {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 500px) {
  .img-fluid {
    min-width: 300px; /* Minimum width for the image */
    max-width: calc(100% - 20px); /* Maximum width with left and right margins */
    width: 100%;
    height: auto;
    margin-left: 10px; /* Left margin */
    margin-right: 10px; /* Right margin */
  }
}
