#reach {
    padding-bottom: 30px;
    color: #2D3047;
}

#form {
    border: solid 1px #2D3047;
    border-radius: 25px;
    padding: 30px;
    color: #2D3047;
}

.label {
    font-style: italic;
    font-weight: 40px;
    font-size: 22px;
    padding: 5px;
}

#submit {
    background-color: #2D3047;
    color: #E0CA3C;
}

@media (max-width: 500px) {
    #reach {
      margin-top: 40px; 
    }
  }