nav li {
  display: inline-block;
  padding: 15px;
  font-size: 24px;
  border: 5px;
}

.navbar-nav .nav-item {
  border-right: 1px solid black; 
}

.navbar-nav .nav-item:last-child {
  border-right: none;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item {
    border-right: none; /* Remove right border on smaller screens */
  }
}
