/* Portfolio.css */

#project-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

#project-list li {
  min-width: 400px;
  min-height: 250px;
  margin: 10px;
  flex: 1 1 calc(100% - 20px); /* Ensures one item per row with margin */
}

.pic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pic:hover img {
  filter: blur(1px);
  transform: scale(1.03);
}

.pic:hover .imgtext {
  opacity: 1;
}

#image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.imgtext {
  color: white;
  background: rgba(0, 0, 0, 0.89);
  width: 100%;
  height: 100%;
  padding: 50px 15px 0 15px;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#list {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  aspect-ratio: 3/2;
  max-width: 1000px;
  max-height: 625px;
}

#div2 {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  margin: auto;
}

#div2 a {
  display: block;
}

#pro-title {
  width: 100%;
}

#link-one {
  width: 100%;
}

#link-to {
  width: 100%;
}
