#download {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 70px;
  padding: 20px;
  background-color: #2D3047;
  border-radius: 20px;
  color: white;
}

#download a {
  text-decoration: none;
  color: #E0CA3C;
}

#resume {
  font-style: italic;
  font-weight: 300;
}

.front {
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 40px;
  text-align: center;
  font-size: 20px;
}

.one {
  text-align: center;
  border-bottom: double 1px black;
}

.list {
  text-align: center;
  table-layout: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: auto;
  padding: 40px;
}

#back {
  text-align: center;
  width: 100%;
}

.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody td {
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-word; 
}